.circ-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.circ-c{
    margin-bottom: 0;
    margin-left: 32%;
}
.bor-b{
    border-bottom: 1px solid lightgray;
    width:100%;
    margin-left: 15px;
}
.text-c{
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}
.mb-0{
    margin-bottom: 0;
}
.heading{
    font-weight: bolder;
}
.profile-img{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 7px 1px 1px 4px;
    text-transform: capitalize;
    font-size: 13px;
}
.camp-log-card{
    /* width: 30%!important;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 50%;
    max-width: 22%;
    margin-bottom: 20px; */
}
.camp-log-card-wrapper{
    width: 95%;
    margin: auto;
    /* margin-top: 20px;
    overflow: hidden;
    height: auto;
    flex-direction: column;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between; */
}
.camp-log-header{
    width: 95%;
    margin: auto;
}
.camp-log-heading{
    margin-top: 50px;
}
.update-container{
    font-weight: bolder;
}
.media-thumbnail{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-left: 5px;
}