
<div class="example-wrapper">
  <h5 class="color">Add Time Slot</h5>

  <label class="example-input-wrapper">
    Start Time:
    <input placeholder="Time:" [(ngModel)]="startTime" (ngModelChange)="changeEndTime()" [owlDateTimeTrigger]="timeStart"
      [owlDateTime]="timeStart" readonly>
    <owl-date-time [hour12Timer]="true" [pickerType]="'timer'" #timeStart></owl-date-time>
  </label>
  <mat-form-field>
    <mat-select placeholder="Select interval of slot" [(value)]="selectedInterval">
      <mat-option *ngFor="let interval of timeIntervals" (click)="addInterval()" [value]="interval">
        {{interval}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label class="example-input-wrapper">
    End Time:
    <input placeholder="Time:" [(ngModel)]="endTime" [max]="maximumEndTime" [owlDateTimeTrigger]="timeEnd"
      [owlDateTime]="timeEnd" readonly>
    <owl-date-time [pickerType]="'timer'" [hour12Timer]="true" #timeEnd></owl-date-time>
  </label>
  <mat-error *ngIf="customMessage.status=='error'">{{customMessage.message}}</mat-error>
  <br />
  <mat-error style="color:green" *ngIf="customMessage.status=='success'">{{customMessage.message}}</mat-error>
  <br />

  <mat-card-actions>
    <button mat-raised-button (click)="addTimeSlot()" color="primary">Add</button>
    <button mat-button color="primary" (click)="closeDialog()">Close </button>
  </mat-card-actions>
</div>
  <div *ngIf="showLoader" class="loader-div">
    <mat-spinner></mat-spinner>
  </div>