
<div class="comments-wrapper" *ngIf="!comment.parent">
  <div class="comments-container">
    <div class="profile-img" *ngIf="comment.registerUser && !comment.registerUser.profileImage">
      <div *ngIf="comment.registerUser">
        {{comment.registerUser.firstName[0]}} {{comment.registerUser.lastName[0]}}
      </div>
      
    </div>
    <div class="profile-img" *ngIf="comment.externalUsers && !comment.externalUsers.profileImage">
      <div *ngIf="comment.externalUsers">
        <div *ngIf="comment.externalUsers.firstName || comment.externalUsers.lastName">
            {{comment.externalUsers.firstName[0]}} {{comment.externalUsers.lastName[0]}}
        </div>
        <div *ngIf="!comment.externalUsers.firstName || !comment.externalUsers.lastName">
            E X
        </div>
        <div>

        </div>
      </div>
      
    </div>
    <div class="" *ngIf="comment.registerUser && comment.registerUser.profileImage">
        <div >
            <img class="dp" src="{{imagePath}}{{comment.registerUser.profileImage}}">
          </div>
    </div>
    <div class="comment">
      <div class="comment-body" [ngClass]="comment.registerUser && comment.registerUser.id === currentUserId ? 'reciver' : 'sender' ">
          <p class="comment-text">{{comment.msg}}</p>
          
      </div>
      <div class="comment-body-footer">
          <p class="comment-date">{{comment.createdOn}}</p>
          <p class="reply"><span (click)="showChildMsg(comment.id)">Reply</span></p>
          
      </div>
      <p class="reply " *ngIf="comment.children.length > 0"><span class="replies" (click)="showChildMsg(comment.id)">{{comment.children.length}} Replies</span></p>
    </div>

  </div>
 
</div>

<div *ngIf="comment.isChildrenShow">
  <div *ngIf="comment.children && comment.children.length > 0">
      <div *ngFor="let r of comment.children">
          <div class="child-comments-wrapper">
              <div class="comments-container">
                <div class="profile-img" *ngIf="!r.registerUser.profileImage">
                  <div *ngIf="!r.registerUser.profileImage">
                    {{r.registerUser.firstName[0]}} {{r.registerUser.lastName[0]}}
                  </div>
                  
                </div>
                <div class="profile-img" *ngIf="r.externalUsers && !r.externalUsers.profileImage">
                    <div *ngIf="r.externalUsers">
                      <div *ngIf="r.externalUsers.firstName || r.externalUsers.lastName">
                          {{r.externalUsers.firstName[0]}} {{r.externalUsers.lastName[0]}}
                      </div>
                      <div *ngIf="!r.externalUsers.firstName || !r.externalUsers.lastName">
                          E X
                      </div>
                      <div>
              
                      </div>
                    </div>
                    
                  </div>
                <div  *ngIf="r.registerUser.profileImage">
                <div *ngIf="r.registerUser.profileImage">
                    <img class="dp" src="{{imagePath}}{{r.registerUser.profileImage}}">
                  </div>
                  </div>
                <div class="comment">
                    <div class="comment-body" [ngClass]="r.registerUser.id === currentUserId ? 'reciver' : 'sender' ">
                        <p class="comment-text">{{r.msg}}</p>
                        
                    </div>
                 
                </div>
        
              </div>
              <div class="comment-body-footer">
                  <p class="comment-date">{{r.createdOn}}</p>
              </div>
             
            </div>
           
      </div>
  </div>

          <input class="input-wrapper" placeholder="Write a reply..." [(ngModel)]="replyComment" (keyup.enter)="sendReply(comment.id,replyComment)">

</div>