.comments-wrapper{
    padding: 10px;
    /* background-color: #2d323e; */
    /* color: #fff; */
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child-comments-wrapper{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 17%;
    margin-right: 10px;
}
.comments-container{
    display: flex;
    width:100%;
}
.profile-img{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 1px 1px 4px;
    text-transform: capitalize;
    font-size: 13px;
}
.dp{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 7px 1px 1px 4px;
    text-transform: capitalize;
    font-size: 13px;
}
.comment{
    margin-left: 10px;
    width:100%;

}
.comment-body{
    background-color: #eff1f3;
    border-radius: 18px;
    padding: 8px 10px;
}
.comment-text{
    margin-bottom: 0;
}
.comment-date{
    font-size: 10px;
    color: rgba(0,0,0,.54);
    margin-bottom: 0;
}
.reply{
    color: #365899;
    cursor: pointer;
    margin-bottom:0; 
    font-size: 14px;
}
.partial-comment{
    /* height: 763px;
    overflow: scroll; */
}
.reply-textbox{
    width: 79%;
    margin-left: 19%;
    margin-right: 0;
}
.input-wrapper{
    min-height: 32px;
    background-color: #f2f3f5;
    border: none;
    left: 0;
    right: 0;
    margin-left: 10px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 0;
    border-radius: 16px;
    border-color: #ccd0d5;
    border: 1px solid #dddfe2;
    padding-left: 10px;
    padding-right: 10px;
    width: 79%;
    margin-left: 19%;
    margin-right: 0;
}
.reciver{
    background-color: #3c4252;
    color: #fff;
}
.sender{
    color: rgba(0,0,0,.87);
    background-color: #e0e0e0;
}
.comment-body-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
}
.replies:hover{
    text-decoration: underline;
}
.dp{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    /* margin: -3px -2px; */
    border: 1px solid black;
}