table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
  .fb-page-menu{
    color: #3f51b5;
  }
  .insta-page-menu{
    color:#ff4081;
  }
  .page-icon-span{
    position: absolute;
    bottom: -6px;
    height: 17px;
    width: 17px;
    color: white;
    background: #303f9f;
    border-radius: 50%;
    left: -6px;
  }
  .page-icon-span-insta{
    position: absolute;
    bottom: -6px;
    height: 17px;
    width: 17px;
    color: white;
    background: #ff4081;
    border-radius: 50%;
    
    left: -6px;
  } 
 
  th.mat-header-cell{
    text-align: center;
  }
  /* th.mat-header-cell:first-child {
  padding-left: 0;
  width: 200px;
  } */
  /* th.mat-header-cell:last-child {
    padding-right: 0;
    width: 200px;
    }
    td.mat-cell:first-child{
      padding-left: 0;
    }
    td.mat-cell:last-child{
      padding-right: 0;
    } */
    .mat-header-cell {
      font-size: 14px;
      font-weight: 600;
  }
  /* .icon-img{
   
    width: 35px;
    
      } */

      /* .mat-header-row{
      background: #f5f5f5;
      }
      .icon-img{
        height: 35px;
        width: 35px;
        margin-top: -15px;

      } */
      .my-img{
        position: relative;
      display: flex;
      }
      .platform-img{
        height: 33px;
        width: 33px;
        margin-right: 5px;
        border:1px solid gray;
        border-radius: 20px;
      }
      
      
      .plateform{
      width: 10%;
      /* position: relative; */
      }
      .title{
        width: 15%;
        }
      
      /* .titlePara{
        width: 13ch;
        white-space: pre-line;
        overflow: hidden;
        } */
      /* .mat-tooltip
      {
        background-color:#3f51b5;
      }
        .desc{
          width: 20%;
          }
          .status{
            width: 10%;
            }
            .mediafiles{
              width: 8%
            }
            .date{
              width: 12%;
            }
            .remove{
              width: 3%;
            }
            .edit{
              width:5%
            } */
            .mat-table tbody tr:nth-child(2n) {
              background-color:whitesmoke;
            }
            .mat-table tbody tr:nth-child(2n+1) {
              background-color:white;
            }
      
            .mat-table tbody tr:hover {
              background-color:lightgray;
            }
            .align-content{
              display: flex !important;
              align-items: center !important;
            }
            .menu-div-style{
              padding:5px;
              display: grid !important;
              align-items: center !important;
            }
         
            
           
          
            .w-90{
              width: 94.5%;
              margin-left: auto;
              margin-right: auto;
              margin-top: 15px;
            }
            .w-90p{
              width: 90px;
              display: block !important;
              text-align: center;
            }
      
      
          .w-125{
            width: 125px;
            display: block !important;
            text-align: center;
          }
          tr.mat-row {
            height: 60px !important;
        }
      
        .mat-menu-panel.myMenu {
          max-width: none;
          width: 300px;
          margin-left: 38px;
          margin-top: 30px;
          background-color:white ;
          overflow: hidden;
          padding-top: 0;
          border: 2px solid lightgray;
      }
      .mat-chip.mat-red{
        background-color: #f3d607;
      }
      .mat-chip.mat-green{
        background-color: green;
      }
      .menu-position{
        margin-left: 40px;
        position: absolute !important;
      }
    
      .close-icon{
        right: -300px;
        left: auto !important;
      }
    
      .right-div{
        font-size: 13px;
        line-height: 0;
    
      }
      .left-div{
        font-size: 13px;
        line-height: 0;
    
      }
      .image-container{
        position: relative;
        display: flex;
      }
    
      .image-thumbnail{
        border: black solid 1px;
        margin-left: 2px;
        height: 70px;
        width: 70px;
      }
      .chip-s{
        height: 35px;
        padding: 0;
        align-items: center;
           padding-right: 10px;
           margin: 10px;
      }
    
      .page-image {
        position:relative;
        background-size: cover;
        border:3px solid #8b2;
      }
    
      .page-icon-span{
        position: absolute;
        bottom: -6px;
        height: 17px;
        width: 17px;
        color: white;
        background: #303f9f;
        border-radius: 50%;
        right: -6px;
      }
      .social-icon{
        position: relative;
        margin-left: 19px;
        margin-top: 19px;
        width: 16px;
      }
      .mat-page{
        /* height: 11px; */
        font-size: 15px;
        margin-left: -3px;
        margin-top: 2px;
  }
    
      .icon-s{
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
      }
      .font-s{
        font-size: 13px;
        line-height:1 !important ;
        height: auto;
        margin: 0;
        margin-bottom: 5px;
     
      }
    
     /* .btn-0{
       border: 0;
       padding: 0;
     } */
     .mat-grid-tile .mat-figure{
     
      left: inherit !important;
      display: block !important ;
    
     }
     /* .flag-s{
      left: 42px;
      z-index: 1;
      top: 18px;
      padding: 0;
     } */
     /* .mat-chip-list-wrapper {
       margin: 0 !important;
     } */
     .page-image {
      position:relative;
      background-size: cover;
      border:3px solid #8b2;
      z-index: 1;
      width: 35px;
      height: 35px;
      margin-top: 2px;
    } 
   
    .f-name{
      
      width: 15%;
    }
    .l-name{
      
      width: 15%;
    }
    .email{
      
      width: 15%;
    }
    .u-right{
      
      width: 15%;
    }
    .edit{
      
      width: 5%;
    }
    .delete{
      
      width: 5%;
      padding-right: 25px !important;
    }
    .sign-a{
      
      width: 70%;
      display: inline-block;
    }
    .text-s{
      margin-bottom: 0;
      text-align: center;
      line-height: 3;
      margin-left: 10px;
    }
 