table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }


  .text-table{
    width:35px
  }
  th.mat-header-cell{
    text-align: center;
  }
  
    .mat-header-cell {
      font-size: 14px;
      font-weight: 600;
  }
  .color-div{
  width: auto;
  height: 21px;
}

.loader-div {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  display: flex;
  padding-left: 50%;
}
.myclass {
  opacity: 0;
}