<mat-grid-list cols="5" class="myGridList" rowHeight="fit">
  <mat-grid-tile style="display: content;" [colspan]="1" [rowspan]="1">
    <div *ngFor="let account of (socialAccountsDetail$ | async)">
      <div *ngIf="account.type == 'FB'">
        <mat-card [style.background-color]="(account.status=='disconnect'?'rgba(0,0,0,-0.3)':'')">
          <mat-grid-tile-header class="facebook-color">
            <img src="{{icons.fbIcon}}" class="img-icon2" />&nbsp;
            {{ account.userName }}
            <div style="text-align:right">
              <img src="{{account.pictureThumbnail}}" [style.border]="(account.status=='disconnect'?'3px solid red':'3px solid green')" class="img-icon" />
            </div>
          </mat-grid-tile-header>
          <div style="margin-top: 35px" *ngIf="account.linked">
            <div *ngFor="let page of account.linked.smPages">
              {{ page.name }}
              <div style="text-align:right">
                <img src="{{page.thumbnail}}" class="img-icon1" />
              </div>
            </div>
            <div *ngFor="let group of account.linked.smGroups">
              {{ group.name }}
              <div style="text-align:right">
                <img src="{{group.thumbnail}}" class="img-icon1" />
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile style="display: content;" [colspan]="1" [rowspan]="1">
    <div *ngFor="let account of (socialAccountsDetail$ | async)">
      <div *ngIf="account.type == 'IG'">
        <mat-card [style.background-color]="(account.status=='disconnect'?'rgba(0,0,0,-0.3)':'')">
          <mat-grid-tile-header class="instagram-color">
            <img src="{{icons.instaIcon}}" class="img-icon2" />&nbsp;
            {{ account.userName }}
            <div style="text-align:right">
              <img src="{{account.pictureThumbnail}}" [style.border]="(account.status=='disconnect'?'3px solid red':'3px solid green')" class="img-icon" />
            </div>
          </mat-grid-tile-header>
          <div style="margin-top: 35px" *ngIf="account.linked">
            <div *ngFor="let page of account.linked.smPages">
              {{ page.name }}
              <div style="text-align:right">
                <img src="{{page.thumbnail}}" class="img-icon1" />
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div *ngFor="let account of (socialAccountsDetail$ | async)">
      <div *ngIf="account.type == 'PI'">
        <mat-card [style.background-color]="(account.status=='disconnect'?'rgba(0,0,0,-0.3)':'')">
          <mat-grid-tile-header class="pinterest-color">
            <img src="{{icons.pinterestIcon}}" class="img-icon2" />&nbsp;
            {{ account.userName }}
            <div style="text-align:right">
              <img src="{{account.pictureThumbnail}}" [style.border]="(account.status=='disconnect'?'3px solid red':'3px solid green')" class="img-icon" />
            </div>
          </mat-grid-tile-header>
          <div style="margin-top: 35px" *ngIf="account.linked">
            <div *ngFor="let board of account.linked.boards">
              {{ board.name }}
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div *ngFor="let account of (socialAccountsDetail$ | async)">
      <div *ngIf="account.type == 'TW'">
        <mat-card [style.background-color]="(account.status=='disconnect'?'rgba(0,0,0,-0.3)':'')">
          <mat-grid-tile-header class="twitter-color">
            <img src="{{icons.twitterIcon}}" class="img-icon2" />
            {{ account.userName }}
            <div style="text-align:right">
              <img src="{{account.pictureThumbnail}}" [style.border]="(account.status=='disconnect'?'3px solid red':'3px solid green')" class="img-icon" />
            </div>
          </mat-grid-tile-header>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div *ngFor="let account of (socialAccountsDetail$ | async)">
      <div *ngIf="account.type == 'YT'">
        <mat-card [style.background-color]="(account.status=='disconnect'?'rgba(0,0,0,-0.3)':'')">
          <mat-grid-tile-header class="youtube-color">
            <img src="{{icons.youtubeIcon}}" class="img-icon2" />
            {{ account.userName }}
            <div style="text-align:right">
              <img src="{{account.pictureThumbnail}}" [style.border]="(account.status=='disconnect'?'3px solid red':'3px solid green')" class="img-icon" />
            </div>
          </mat-grid-tile-header>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
