@import './../../../mixin.scss';

.facebook-color{
    background-color:$facebook-color !important;
}
.instagram-color{
background-color:$instagram-color !important;
}
.twitter-color{
    background-color:$twitter-color !important;
}
.youtube-color{
    background-color:$youtube-color !important;
}
.pinterest-color{
    background-color:$pinterest-color !important;
}
.linkedin-color{
    background-color:$linkedin-color !important;
}

.img-icon{
    border-radius: 50px;
    width: 36px;
    margin-left:77px;
}

.img-icon2{
    border-radius: 50px;
    width: 35px;
}


.img-icon1{
    margin-top: -47px;
    border-radius: 50px;
    width: 30px;
    height: 30px;  
    margin-left: 12vw;
}

.mat-card{
    width: 99% !important;
    height: 250px;
    top: 9px;
    margin-bottom: 5px;
    left: 10px;
}
:host ::ng-deep  .mat-figure{
    display: block !important;
}
// .mat-grid-tile{
//     display: contents!important;
// }
.myGridList {
    height: 100%;
}
.mat-grid-tile{
    overflow:initial!important;
}