<div class="invitation-container">
    <form [formGroup]="externalUserForm">
  <mat-form-field class="input-field">
    <input matInput formControlName="firstName" placeholder="First Name" #firstName [(ngModel)]="data.firstName">
  </mat-form-field>
  <mat-error class="error-message" *ngIf="!externalUserForm.get('firstName').valid && (externalUserForm.get('firstName').dirty || externalUserForm.get('firstName').touched)">please enter first name</mat-error> 
  <mat-form-field class="input-field">
    <input matInput formControlName="lastName" placeholder="Last Name" #lastName [(ngModel)]="data.lastName">
  </mat-form-field >
  <mat-error class="error-message" *ngIf="!externalUserForm.get('lastName').valid && (externalUserForm.get('lastName').dirty || externalUserForm.get('lastName').touched)">please enter last name</mat-error> 
  <mat-form-field class="input-field">
    <input matInput placeholder="Email" formControlName="email" #email [(ngModel)]="data.email">
  </mat-form-field>
  <mat-error class="error-message" *ngIf="!externalUserForm.get('email').valid && (externalUserForm.get('email').dirty || externalUserForm.get('email').touched)">Invalid email, use proper format</mat-error> 
  </form>
  <div class="invitation-buttons-container">
    <button mat-stroked-button (click)="closePopup()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!externalUserForm.valid" (click)="sendInvitation()">Send invitation</button>
  </div>
</div>