<mat-card class="login-card">
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="addOrUpdateUser()">
      <h2>{{dialogBoxType}} User</h2>
      <div class="container">

        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="First Name" type="text" [(ngModel)]="companyUser.firstName" formControlName="firstName" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Last Name" type="text" [(ngModel)]="companyUser.lastName" formControlName="lastName" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [attr.disabled]="!userToUpdate" placeholder="Email" type="email" [readonly]="dialogBoxType=='Edit'?'true':'false'" [(ngModel)]="companyUser.email" formControlName="email" required>
          </mat-form-field>
          <mat-error *ngIf="userForm.controls.email.errors?.required && userForm.controls.email.touched">Please enter an email. </mat-error>
          <mat-error *ngIf="userForm.controls.email.errors?.pattern && userForm.controls.email.touched">Please input a valid email. </mat-error>
          <br>

          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
          </mat-form-field>
          <mat-error *ngIf="userForm.controls.password.errors?.pattern && userForm.controls.password.touched">Please enter a valid password. </mat-error>
          
          <mat-error class="error-message" *ngIf="emailExist">Email already exist</mat-error> 
        </div>
      </div>
      <div class="container">
        <div class="form-group" style="margin-top: 30px">
          <mat-card-actions style="text-align: center">
            <button mat-raised-button color="Basic" type="reset" (click)="closeDialog()" class="btn btn-default">Cancel</button>
            <button mat-raised-button style="margin-left: 7px" color="primary" type="submit" [disabled]="userForm.invalid">Submit</button>
          </mat-card-actions>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
