<!-- [inputSelectedSocialAccountsArrayWithPages$]="inputSelectedSocialAccountsArrayWithPages" -->
<!-- (onNewAccountPageSelection)="onNewAccountPageSelection($event)" -->

<!-- {{(persistCampaign$ | async) |json}} -->
<my-attached-social-networks [myAttachedSocialAccounts$]="socialAccountsStore.ConnectedAccounts"
  [selectedSocialAccountsArtifactsArray$]="selectedSocialAccountsArtifactsArray$"
  (onSelectSocialAccountArtifact)="addSelectedSocialAccountArtifact($event)"
  (onRemoveAccountsPage)="onRemoveAccountsArtifact($event)">
</my-attached-social-networks>


<!-- [platforms$]="selectedNetworks$" -->
<campaign-definition (onChangeDescription)="onChangeDescription($event)" (onRemoveMediaFile)="onRemoveMediaFile($event)"
  (onAddMediaFile)="onAddMediaFile($event)" (onCropImage)="onCropImage($event)"
  (onThumbnailAdd)="addThumbnailInNewFile($event)" (onAddOrRemoveTags)="onAddOrRemoveTags($event)"
  [campaign$]="persistCampaign$" [selectedSocialNetwork$]="selectedNetworks$" (onCampaignSave)="onUpdate($event)">

</campaign-definition>
<post-list [posts$]="postsArrayToShow$"></post-list>


<!-- (onNewMediaRemove)="onNewMediaRemoveFromDefinition($event)"
(onInputMediaRemove)="onInputMediaRemoveFromDefinition($event)"  

(onNewMediaFileSelect)="onNewMediaSelectionFromDefinition($event)"

  (onNewImageCropped)="onNewImageCropped($event)" 
  (onInputImageCropped)="onInputImageCropped($event)" 

  (outThumbnailArray)="getThumbnailArray($event)"
  

  (onCampaignSave)="updateCampaign($event)" 
  [campaign$]="persistCampaign$"
 
  
  (onNewImageTagsEdit)="onNewImageTagsEdit($event)"
  (onInputImageTagsEdit)="onInputImageTagsEdit($event)" -->