<div>
  <mat-tab-group>
    <mat-tab label="Timeline">

    </mat-tab>
    <mat-tab label="Profile">
      <div class="example-container">
        <div>
          <mat-form-field>
            <input matInput placeholder="First Name" #fn="ngModel" required minlength="4" ngModel name="fn" [(ngModel)]="editProfile.firstName">
          </mat-form-field>
          <mat-error *ngIf="((fn.touched && editProfile.firstName=='') || (!fn.value &&fNameError))">
            {{errors.firstNameError}}
          </mat-error>
          <mat-error *ngIf="fn.value && editProfile.firstName.length<3">
              {{errors.nameLength}}
          </mat-error>
        </div>
        <div>
          <mat-form-field>

            <input matInput placeholder="Last Name" #ln="ngModel" required minlength="4" ngModel [(ngModel)]="editProfile.lastName" name="ln">
          </mat-form-field>
        </div>
        <mat-error *ngIf="((ln.touched && editProfile.lastName=='')|| (!ln.value && lNameError))">
            {{errors.lastNameError}}
        </mat-error>
        <mat-error *ngIf="(ln.value && editProfile.lastName.length<3)">
            {{errors.nameLength}}
        </mat-error>

        <div class="dist-end">
          <button mat-raised-button color="primary" (click)="gotoChangePassword()">Change Password</button>

          <!-- <button mat-raised-button color="primary" routerLink="/membership/change-password" >Change Password</button>     -->
          <button mat-raised-button (click)="update()" color="primary">Update</button>
        </div>

      </div>
    </mat-tab>


    <mat-tab label="Payment Method">

      <div>
        <mat-form-field style="color: rgba(0,0,0,.54)">
          Name (as it apears on your card)
          <input matInput placeholder="" [type]="hide ? 'First Name' : 'text'">
        </mat-form-field>
      </div>
      <!-- <div class="container">
          <mat-form-field >
          <mat-icon>credit_card</mat-icon>
          <input matInput placeholder="&emsp;&emsp;Credit card number" formControlName="cardNumber" type="text"  mask="0000-0000-0000-0000" id="cardNumber" name="cardNumber" #cardNumber minlength="16" maxlength="20" [(ngModel)]= user.cardNumber /><br>
          </mat-form-field> 
        </div> -->



      <payment-information [paymentInformationForm]="paymentInformationForm" [user]="user"></payment-information>
      <button mat-raised-button color="primary">Update</button>
    </mat-tab>
  </mat-tab-group>

</div>