.headding-background {
    background: #303F9F;
    color: white;
    width: 100% !important;
}

.card {
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 97% !important;
    max-width: unset !important;
}

.columns {
    padding: 10px;
    text-align: center;
}

.loader-div {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    display: flex;
    padding-left: 50%;
}

.myclass {
    opacity: 0;
}