<mat-card>
    <button mat-button mat-raised-button (click)="manageUserData()">
        <mat-icon>person_add</mat-icon> Manage User
    </button>
    <button mat-button mat-raised-button (click)="manageGroupData()">
        <mat-icon>group_add</mat-icon> Manage Group
    </button>
</mat-card>
<manage-company *ngIf="activeView=='user'" [socialAccountsDetail$]="socialAccountsDetail$" (onUpdataUser)="updataCompanyUser($event)" (onDeleteUser)="deleteCompanyUser($event)"></manage-company>
<company-groups-list *ngIf="activeView=='group'" [securityGroups$]="securityGroups$" (onUpdateSecurityGroup)="updateSecurityGroup($event)" (onDeleteSecurityGroup)="deleteSecurityGroup($event)"></company-groups-list>