 <!-- <mat-error  *ngFor = "let message of ( alertModel$ | async).messages">
      {{message}}
    </mat-error> -->
    <mat-toolbar class="bground">

    </mat-toolbar>
    
    <mat-grid-list cols="3" rowHeight="3:3">
   
      <mat-grid-tile ></mat-grid-tile>
        <mat-grid-tile >
    
            <mat-card class="login-card">
                <img mat-card-sm-image class="profileimg" (click)="showProfileDetail()" src="{{appLogo.appLogo}}" alt="Logo">  
              <mat-card-header>
                    
                  <mat-card-title class=login-style>Forget Password</mat-card-title>
                </mat-card-header>
              
                <mat-card-content>
                    <div class="example-container">
                      
                    <mat-form-field>
                        <input   matInput placeholder="Email Address" type="email" 
                        [(ngModel)]= loginData.email pattern="[a-z0-9.]+@[a-z]+\.[a-z]{2,3}$" 
                         #email="ngModel" ngModel  name="email" required>
               </mat-form-field>
               <mat-error *ngIf="(email.touched && loginData.email=='')">
                  
                  {{errors.emailError}}
              </mat-error>
              <mat-error *ngIf="(loginData.email=='' && emailError)">
                  {{errors.emailError}}
              </mat-error>
              <mat-error *ngIf="(email.value && !email.valid) ">
                  {{errors.emailFormatError}}
                </mat-error>

                    <!-- <mat-error *ngIf="(email.touched && loginData.email=='')">
                      Enter an email
                    </mat-error>
                    <mat-error *ngIf="(loginData.email=='' && emailError)">
                      Enter an email
                    </mat-error>
                    <mat-error *ngIf="(email.value && !email.valid) ">
                        Email must be in propper format 
                      </mat-error> -->
                  </div>
                </mat-card-content>
                <mat-error  *ngFor = "let message of ( alertModel$ | async).messages">
                    {{message}}
                  </mat-error>
                 
                <button mat-raised-button (click)="getEmail()" class="margin-t" color="primary">Send</button>
                <div class="margin-top">
                  <Span class="style1">Do you have an account?</Span>
                  <br> <a  [routerLink]="['/membership/login']" class="style2">Login</a>
                </div> 
                

                </mat-card>
        
    
        </mat-grid-tile>
        <mat-grid-tile ></mat-grid-tile>
      </mat-grid-list>

      
    