<mat-card class="login-card">
  <mat-card-content>
    <h6 class="color">{{dialogBoxType}} custom status </h6>
    <br>
    <form [formGroup]="customStatusForm" (ngSubmit)="updateStatus()">
      <div class="container">

        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Status Label" [(ngModel)]="customStatus.statusName" type="text" formControlName="statusName" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Color" [(colorPicker)]="customStatus.statusColor" [style.background]="customStatus.statusColor"
              [(ngModel)]="customStatus.statusColor" formControlName="statusColor" />
          </mat-form-field>
        
          <div>Publish : 
            <mat-slide-toggle matInput [(ngModel)]="customStatus.isPublishable" formControlName="isPublishable">
            </mat-slide-toggle>      
          </div>
        
          <mat-error style="color:green" *ngIf="statusMessage.status=='success'">
            {{statusMessage.message}}
          </mat-error>

          <mat-error *ngIf="statusMessage.status=='error'">
            {{statusMessage.message}}
          </mat-error>
          
          <mat-card-actions style="text-align: center">
            <button mat-raised-buttoncolor="Basic" type="reset" (click)="onClose()" class="btn btn-default">Close</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="customStatusForm.invalid || disableSubmit">
              Submit</button>
          </mat-card-actions>

        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="showLoader" class="loader-div">
  <mat-spinner></mat-spinner>
</div>