.circ-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.circ-c{
    margin-bottom: 0;
    margin-left: 32%;
}
.bor-b{
    border-bottom: 1px solid lightgray;
    width:100%;
    margin-left: 10px;
}
.text-c{
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}
.mb-0{
    margin-bottom: 0;
}
.heading{
    font-weight: bolder;
    cursor: pointer;
}
.heading:hover{
    text-decoration: underline;
}
.profile-img{
    height:35px;
    width:35px;
    border-radius: 50%;
}
.sidebar-activity-container{
    display: flex;
    padding: 5px;
}